* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
header {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 0 20px;
}

.navbar .link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* Main */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

section p {
    line-height: 1.6;
    color: #666;
}

section ul {
    margin-bottom: 20px;
    padding-left: 20px; /* Ajout de décalage pour les listes */
}

section li {
    margin-bottom: 10px;
    list-style: none;
    color: #666;
}

/* Form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form fieldset {
    border: none;
    margin-bottom: 20px;
}

form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

.img_porsche {

}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery img {
    max-width: calc(50% - 5px); /* Taille maximale de chaque image à 50% de la largeur de leur conteneur, avec un espace de 5px entre elles */
    height: auto; /* Hauteur automatique pour conserver les proportions originales */
}

section video {
    max-width: 100%; /* La vidéo ne dépassera pas la largeur de son conteneur */
    height: auto; /* La hauteur sera automatiquement ajustée pour conserver les proportions originales */
}

/* Ajoutez ces règles CSS à la fin de votre fichier style.css */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ddd;
}
